{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Logged as {{ user.email }} / 
        <a href="{{ path('app_logout') }}">Log out</a>

    {% else %}
        Log in with : 
        <ul>
            <li><a href="{{ path('connect_google') }}">Google</a></li>
            <li><a href="{{ path('connect_facebook') }}">Facebook</a></li>
        </ul>
    {% endif %}
{% endblock %}
